

body {
	background-color: white;
	font-family: sans-serif;
}

#div-header img {
	width: 20%;
	margin: 0 auto;
}

.container {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.container-narrow {
	width: 70%;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.col {
	width: 100%;
	text-align: center;
}

.challenge-each {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(41, 245, 5);
	border-radius: 10px;
	height: 500px;
	margin: 2px;
	text-align: center;
	width: 500px;
    display: inline-block;
    background-color:white;
    box-shadow: 0px 7px 12px -4px #3f3f3f;
    max-height: 500px;
    vertical-align: top;
}

#ch01 {
    background-image: url("/pokemones/img/p00.png");
}

#ch02 {
    background-image: url("/pokemones/img/p01.png");

}
#ch03 {
    background-image: url("/pokemones/img/p02.png");

}
#ch04 {
    background-image: url("/pokemones/img/p03.png");
}



#ch01,
#ch02,
#ch03,
#ch04 {
    margin-top: 15px;
    margin-bottom:15px;
    margin-left:10px;
    margin-right:10px;
    background-repeat: no-repeat;
    background-position:center;
    background-position-y: 150px;
    background-size: 90%;
}

.challenge-container {
	text-align: center;
    /* align-items: flex-start; */
}


/* buttons */

.button1 {
	display: inline-block;
	padding: 0.35em 1.2em;
	border: 0.1em solid rgb(253, 0, 219);
	margin: 0 0.3em 0.3em 0;
	border-radius: 0.12em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: sans-serif;
	color: #ffffff;
	text-align: center;
    transition: all 0.2s;
    border-radius: 8px;
    background-color: rgb(255, 0, 128);
    height: 40px;
    text-transform: uppercase;
    font-weight: 800;
}

.button1:hover {
	color: rgb(255, 0, 128);
	background-color: #FFFFFF;
}


/* @media all and (max-width:30em){
     a.button1{
      display:block;
      margin:0.4em auto;
     }
    }  */

